/* App.css */
.app-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}
